.name-input {
    font-size: 18px;
    border: none;
    border-bottom: 1px solid;
    margin-left: 15px;
    height: 45px;

    border-radius: 0;
    box-shadow: none;
    border-color: #d2d6de;
}

.name-input:focus {
    border-color: #3c8dbc;
    box-shadow: none;
}
